p {
    font-size:  22px;
}

a {
    text-decoration: none;
    color: #12BDED;
}

a:hover {
    text-decoration:  underline;
    text-decoration-color: #12a9d3; ;
}

img {
    height: 15.6em /*250px*/;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}