<div class="footer mt-3">
    <!-- social links-->
    <div class="socials d-flex justify-content-center align-items-center container">
            <div class="social">
                    <p class="text-capitalize"> <a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            </div>
            <div class="social">
                    <p class="text-capitalize"> <a href="https://www.youtube.com/" target="_blank">Youtube</a></p>
            </div>
            <div class="social">
                    <p class="text-capitalize"> <a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
            </div>
            <div class="social">
                    <p class="text-capitalize"> <a href="https://www.tiktok.com/" target="_blank">Tiktok</a></p>
            </div>
    </div>

    <!--  copyright-->
    <p class="text-center copyright mt-4">Copyright &copy; {{year}}</p>
</div>
