<div class="img-fluid w-100 hero pt-5">
    <h1 class="text-center mb-5">big discounts</h1>
    <p class="text-center percent mb-4">-50 <span class="sign">%</span></p>
    <p class="text-center fs-3 product">Product name <span class="old-price mx-4">400$</span> <span class="new-price">200$</span></p>
        <!-- add icon here of shopping cart-->
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg  mt-3 btn btn-outline-light">Try now</button>
        </div>
</div>
