.hero {
    background: rgb(7,97,122);
    background: radial-gradient(circle, rgba(7,97,122,1) 0%, rgba(18,189,237,1) 50%, rgba(7,97,122,1) 100%);
    height: 500px;
    color: white;
}

.hero h1, .hero .percent .sign, .hero .prize{
    font-family: Segoe Print, Verdana;
    color: #ed12bd;
    text-shadow:  2px 2px 7px white;
}

.hero h1, .hero .percent .sign {
    font-size:  60px;
}

.hero .percent {
    font-size:  70px;
}

.hero .product .old-price {
    text-decoration: line-through;
    text-decoration-color: #ed12bd;
}

