<div class="cardBox my-5 border">
    <h1 class="text-center mb-4  text-capitalize">{{title}}</h1>
    <div class="d-flex px-4">
            <app-card title="APPLE MACBOOK AIR 13 M1" price="999" image="apple.webp"></app-card>
            <app-card title="SAMSUNG QE65QN85B (2022)" price="1080" image="tv.jpg"></app-card>
            <app-card title="APPLE MACBOOK AIR 13 M1" price="999" image="apple.webp"></app-card>
            <app-card title="SAMSUNG QE65QN85B (2022)" price="1080" image="tv.jpg"></app-card>
          
    </div>
</div>
