<div class="details">
    <h1 class="text-center  text-capitalize">title</h1>

    <img src="../../../assets/Images/tv2.jpg" class="img mb-2" alt="...">

    <ul class="list-group list-details mb-5">
        <li class="list-group-item ps-5">An item</li>
        <li class="list-group-item ps-5">An item</li>
        <li class="list-group-item ps-5">An item</li>
        <li class="list-group-item ps-5">An item</li>
        <li class="list-group-item ps-5">An item</li>
      </ul>

      <div class="d-flex justify-content-center button-box">
        <button class="">Buy</button>
      </div>

      <hr>

      <app-adversing></app-adversing>

</div>
